/* Force the body and root to be full screen */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure the leaflet container fills its parent */
.leaflet-container {
  width: 100%;
  height: 100vh; 
}